@model TicketFormViewModel
@{
    ViewData["Title"] = "Nouveau Ticket";
}
<form asp-action="Create" asp-controller="Ticket" method="post">
    <div class="form-group row">
        <label class="form-label col-md-2">Type *</label>
        <div class="col-md-2">
            <select asp-for="TickeTypeId" class="form-control">
                @foreach(var priority in Model.Types )
                {
                    <option value="@priority.Key">@priority.Value</option>
                }
            </select>
        </div>
        <div class="col-md-2"></div>
        <label class="form-label col-md-2">Priority *</label>
        <div class="col-md-2">
            <select asp-for="TicketPriorityId" class="form-control">
                @foreach(var priority in Model.Priorities )
                {
                    <option value="@priority.Key">@priority.Value</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Description</label>
        <p>Veuillez décrire au mieux le problème rencontré</p>
        <textarea class="form-control" asp-for="Description" id="Ticket-Form-Description"></textarea>
    </div>
    <div class="form-group">
        <label class="form-label">Contexte *</label>
        <p>Veuillez décrire le contexte du problème</p>
        <p>Exemple : utilisateur connecté, chemin emprunté jusqu'à la page, contenu du formulaire,etc.</p>
        <textarea class="form-control" asp-for="Description" id="Ticket-Form-Description"></textarea>
    </div>
    <div class="form-group">
        <label class="form-label">Documents</label>
        <p>Vous pouvez joindre des pièces complémentaire à votre demande</p>
        <p>Exemple : ScreenShots, vidéo, document words, pdf, etc.</p>
        <input asp-for="Documents" type="file" multiple>
    </div>
    <div class="form-group row">
        <div class="col align-self-end">
            <button type="submit" class="btn btn-outline-primary">Envoyer</button>
        </div>
    </div>
</form>
@section Scripts{
    <script>
        $(function() {
          $("#Ticket-Form-Description").wysibb();
        })
    </script>
}